name: hi raksha , Deploy to Azure App Service from github actions 

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Setup Node
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    # 3. Install dependencies
    - name: Install dependencies
      run: npm install

    # 4. Zip app
    - name: Zip artifact
      run: zip -r app.zip .

    # 5. Azure Login
    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # 6. Deploy to App Service
    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: demo-gh-actions-app
        package: app.zip

